*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 13%;
    width: 28%;
    height: 100vh;
    position: fixed;
}



.nav-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-link a{
    display: flex;
    text-align: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;
    transition: 0.2s;
}

.nav-link a i{
    font-size: 3rem;
    margin-right: 15px;
}

.nav-link a:hover,
.main-account a:hover
{
    background-color:rgb(47, 51,54);
    border-radius: 9999px;
}

.nav-link a:first-child{
    padding: 8px;
}
.nav-link a:first-child i{
margin: 0;
}

.tweet-button{
    background-color: rgb(29, 155, 240);
    width: 90%;
    height: 55px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 15px;
    color: white;
    border: 1px solid black;
    transition-duration: 0.2s;
}

.tweet-button:hover{
    background-color: rgba(29, 155, 240,0.9);
}

.main-account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-top: auto;
}

.main-account a{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px 8px 15px;
    margin-right: 10px;
}

.tweet-img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: white;
}

.account-details{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-left: 10px;
    font-size: 1.5rem;
    line-height: 20px;
}

main{
    width: 71%;
    height: 100%;
    margin-left: 29%;
}

.main-flex{
    display: flex;
    width: 100%;
}

.main-feed{
    width: 50%;
    height: 100%;
    border-left: 1px solid rgb(47, 51,54);
    border-right: 1px solid rgb(47, 51,54);
}

.home-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 55px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 15px;
    position: sticky;
    top: 0;
    background-color: black;
}

.new-tweet{
    display: flex;
    height: 120px;
    color: white;
    border-top:1px solid rgb(47, 51,54);
    padding: 20px 15px;
}

.new-tweet img{
    width: 48px;
    height: 48px; 
    cursor: pointer; 
}

.new-tweet-details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 4px;
    width: 100%;
    padding-left: 12px;
}

.new-tweet-actions{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.new-tweet-actions  ul{
    display:flex;
    list-style: none;
}
.new-tweet-details input{
    width: 100%;
    height: 24px;
    border: none;
    font-size: 2rem;
    background-color: black;
    color: white;
    outline: none;
}

.new-tweet-actions ul li{
    margin-right: 12px;
    color: #1c88d2;
    cursor: pointer;
}

.new-tweet-actions .tweet-button{
    width: 75px;
    height: 35px;
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
}

.feed-tweet{
    width: 100%;
    min-height: 100px;
    display: flex;
    border-top: 1px solid rgb(47, 51,54);
    padding: 12px 16px 0 16px;
    cursor: pointer;
}

.feed-tweet-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 12px
}
.feed-tweet i{
    color: rgb(47, 51,54);
}
.tweeter-details{
    display: flex;
    align-items: flex-start;
    font-size: 1.5rem;
    justify-content: space-between;

}

.tweeter-details a{
    font-weight: 700;
}

.tweeter-details a span{
    color:rgb(110, 118, 125) ;
    font-size: 1.5rem;
    margin-left: 5px;
    font-weight: 500;
}

.tweet-text{
    font-size: 1.5rem;
    color: white;
    padding: 10px 0 10px 0;
    width: 100%;
}

.tweet-icons{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.side-feed{
    width: 50%;
    padding: 0 2%;
}

.side-feed .search{
    min-width: 335px;
    height: 55px;
    position: sticky;
    top: 0;
    padding-top: 10px;
    background-color: black;
}
.search input{
    width: 100%;
    height: 45px;
    background-color: #212327;
    border-radius: 9999px;
    padding-left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    line-height: 20px;
}

.trending{
    height: 570px;
    min-width: 240px;
    background-color: #212327;
    margin-top: 15px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

h1{
    color: white;
    padding: 10px;
    font-size: 2rem;
}

.trending-item{
    display: flex;
    flex-direction: column;
    color: rgb(110, 118, 125);
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top: 5px;
    padding: 0 15px;
    font-size: 1.5rem;
}

.item-category{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.trending-item span{
    font-size: 1.3rem;
    font-weight: 500;
}
.trending-item p{
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

.trending-item:hover,
.trending a:hover,
.followers:hover
{
    background-color: #1c1e22;
    cursor: pointer;
}

.trending a{
    color: white;
    align-items: center;
    color: #1c88d2;
    width: 100%;
    font-size: 2rem;
    font-weight:300;
    padding: 10px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.follow{
    display: flex;
    flex-direction: column;
    min-width: 240px;
   min-height: 250px;
    background-color: rgb(47, 51,54);
    margin-top: 15px;
    border-radius: 16px;
}

.followers{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    height: 70px;
}
.followers:last-child{
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.followers img{
    margin-left: 10px;
}

.followers-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 10px;
    flex-grow: 1;
    align-items: flex-start;
}

.followers-details a {
    margin-left: 5px;
    font-size: 2rem;
    font-weight: 600;
}
.followers-details:hover{
    text-decoration: underline;
}
.followers-details span{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(110, 118, 125);
}

.followers .tweet-button{
    width: 75px;
    height: 35px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #000;
}