*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 24px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 10px 13%;
    width: 29%;
    min-height: 100vh;
    position: fixed;
}



.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

.nav-link a{
    display: flex;
    text-align: center;
    font-size: 2rem;
    padding: 8px 25px 8px 8px;
    width: fit-content;
}

.nav-link a i{
    font-size: 3rem;
    margin-right: 15px;
}

.nav-link a:hover{
    background-color:rgb(47, 51,54);
    border-radius: 9999px;
}

.nav-link a:first-child{
    padding: 8px;
}
.nav-link a:first-child i{
margin: 0;
}

.tweet-button{
    background-color: rgb(29, 155, 240);
    width: 90%;
    height: 55px;
    border-radius: 9999px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 15px;
    color: white;
    border: 1px solid black;

}